{
    "presets": [
        "env", 
        "stage-3",
        "react"
    ],
    "plugins": [
        "transform-regenerator",
        "transform-class-properties",
        ["import", { "libraryName": "antd", "style": "css" }] 
    ]
}