{
    "presets": [
        [
            "env",
            {
                "targets":
                {
                    "browsers": "> 5%"
                }
            }
        ], "react", "stage-3"
    ],
    "plugins": [
        "transform-regenerator"
    ]
}